/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    
    // Column name in the input spreadsheet that contains the concatinated list of marker labels.
    singleLabelColumn = "Classification"
    //singleLabelColumn = "OriginalClasses"
    singleLabelDelimiter = "|"
    
    // Rough estimator of bottom percentile belonging to negative labelling
    huerustic_negative_percentile = 0.2
    huerustic_negative_n_cells = 400
    
    
    
}
