google {
  project = 'ml-fpt-rsa-aproject1-p-581c'
  location = 'us-central1'
  region   = 'us-central1'
  batch {
    spot = false
    preemptible = false
    logsPolicy.destination = 'CLOUD_LOGGING'
    usePrivateAddress = true
    serviceAccountEmail = 'vaults6-m088378-p-1711984463@ml-fpt-rsa-aproject1-p-581c.iam.gserviceaccount.com' //<----- CHANGE THIS TO YOUR SERVICE ACCOUNT//
    network = 'projects/ml-fpt-iac-ahvpc-p-be46-h/global/networks/ml-app-hpc-p-h'
    subnetwork = 'projects/ml-fpt-iac-ahvpc-p-be46-h/regions/us-central1/subnetworks/ml-app-hpc-p-h-us-central1-prd-api'
  }
}

process {
  label = 'binflow'
  executor = 'google-batch'
  cpus = 2
  memory = '8 GB'
  machineType = 'n2-standard-8'
  container = 'us-central1-docker.pkg.dev/ml-fpt-rsa-aproject1-p-581c/qhs1/classyflow:latest'
  //errorStrategy = 'retry'
  maxRetries = 0

  resourceLabels = [ 
  'hpc-user': env('GCP_USER'),
  'hpc-user-project': "binflow_markovic_01" 
  ]
    
  withName: ALL_LABEL_COUNTS {
      machineType = 'n1-*,n2-*'
        cpus = 2
        memory = '8 GB'
    }
    withName: CHECK_LABEL_COUNTS {
    machineType = 'n1-*,n2-*'
        cpus = 2
        memory = '4 GB'
    }
    withName: REPORT_PANEL_DESIGN {
    machineType = 'n1-*,n2-*'
        cpus = 2
        memory = '8 GB'
    }
    withName: GET_ALL_LABEL_RECOUNTS {
    machineType = 'n1-*,n2-*'
        cpus = 2
        memory = '8 GB'
    }
    withName: BOOST_NEGATIVE_LABELS {
    machineType = 'n1-*,n2-*'
        cpus = 6
        memory = '32 GB'
    }
    withName: BOXCOX_TRANSFORM {
    machineType = 'n1-*,n2-*'
        cpus = 8
        memory = '32 GB'
    }
    withName: PREPROCESS_QUANT_TABLE {
    machineType = 'n1-*,n2-*'
        cpus = 4
        memory = '16 GB'
    }
    withName: RECOMBINE_PREDICTIONS_WITH_CONTEXT {
    machineType = 'n1-*,n2-*'
        cpus = 2
        memory = '8 GB'
    }
    // Supervised workflow submodules
    withName: GET_SINGLE_MARKER_TRAINING_DF {
    machineType = 'n1-*,n2-*'
        cpus = 2
        memory = '8 GB'
    }
    withName: BINARY_MODEL_TRAINING {
    machineType = 'n1-*,n2-*'
        cpus = 8
        memory = '32 GB'
    }
    withName: PREDICTIONS_FROM_BEST_MODEL {
    machineType = 'n1-*,n2-*'
        cpus = 4
        memory = '16 GB'
    }
    withName: MERGE_BY_PRED_IMAGE {
      machineType = 'n1-*,n2-*'
        cpus = 4
        memory = '16 GB'
    }
    withName: MERGE_TRAINING_BY_MARKER {
    machineType = 'n1-*,n2-*'
        cpus = 2
        memory = '8 GB'
    }
    withName: REPORT_PER_IMAGE {
    machineType = 'n1-*,n2-*'
        cpus = 2
        memory = '8 GB'
    }

}
