process.executor = 'slurm'
process.queue = 'sm-n2-8g'
process.cpus = 2
process.memory = '8 GB'
process.time = '2h'

process {
    withName: ALL_LABEL_COUNTS {
        queue = 'sm-n2-8g'
        cpus = 2
        memory = '8 GB'
    }
    withName: CHECK_LABEL_COUNTS {
        queue = 'sm-n2-8g'
        cpus = 2
        memory = '4 GB'
    }
    withName: REPORT_PANEL_DESIGN {
        queue = 'sm-n2-8g'
        cpus = 2
        memory = '8 GB'
    }
    withName: GET_ALL_LABEL_RECOUNTS {
        queue = 'sm-n2-8g'
        cpus = 2
        memory = '8 GB'
    }
    withName: BOOST_NEGATIVE_LABELS {
        queue = 'med-n16-64g'
        cpus = 6
        memory = '32 GB'
    }
    withName: BOXCOX_TRANSFORM {
        queue = 'med-n16-64g'
        cpus = 8
        memory = '32 GB'
    }
    withName: PREPROCESS_QUANT_TABLE {
        queue = 'med-n16-64g'
        cpus = 4
        memory = '16 GB'
    }
    withName: RECOMBINE_PREDICTIONS_WITH_CONTEXT {
        queue = 'sm-n2-8g'
        cpus = 2
        memory = '8 GB'
    }
    // Supervised workflow submodules
    withName: GET_SINGLE_MARKER_TRAINING_DF {
        queue = 'sm-n2-8g'
        cpus = 2
        memory = '8 GB'
    }
    withName: BINARY_MODEL_TRAINING {
        queue = 'med-n16-64g'
        cpus = 8
        memory = '32 GB'
    }
    withName: PREDICTIONS_FROM_BEST_MODEL {
        queue = 'med-n16-64g'
        cpus = 4
        memory = '16 GB'
    }
    withName: MERGE_BY_PRED_IMAGE {
        queue = 'med-n16-64g'
        cpus = 4
        memory = '16 GB'
    }
    withName: MERGE_TRAINING_BY_MARKER {
        queue = 'sm-n2-8g'
        cpus = 2
        memory = '8 GB'
    }
    withName: REPORT_PER_IMAGE {
        queue = 'sm-n2-8g'
        cpus = 2
        memory = '8 GB'
    }
}